---
import { getRelativeLocaleUrl } from 'astro:i18n';

const koUrl = getRelativeLocaleUrl("ko", "");
const jaUrl = getRelativeLocaleUrl("ja", "");

const links = [
    {
        to: jaUrl + "service-times",
        label: "礼拝時間",
    },
    {
        to: jaUrl + "with-jesus",
        label: "イエス同行",
    },
    {
        to: jaUrl + "location",
        label: "アクセス",
    },
];
---

<header>
  <div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
        </div>
        <ul
          tabindex="-1"
          class="menu menu-lg dropdown-content bg-base-100 rounded-box z-1 mt-3 w-80 p-4 shadow text-xl">
          {
            links.map((link) => (
              <li><a href={link.to}>{link.label}</a></li>
            ))
          }
        </ul>
      </div>
      <a href={jaUrl} class="btn btn-ghost text-xl">柏栄光教会</a>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {
          links.map((link) => (
            <li><a href={link.to}>{link.label}</a></li>
          ))
        }
      </ul>
    </div>
    <div class="flex-none">
      <a href={koUrl} class="btn btn-ghost btn-circle" aria-label="Japanese">
        한국어
      </a>
    </div>

  </div>
</header>
